# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.env

# TypeScript
dist/
*.tsbuildinfo

# IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Test reports
coverage/
.nyc_output/